In [36]:
import pandas as pd
import numpy as np


adult_train = 'adult/adult.data'
adult_test = 'adult/adult.test'

df_train = pd.read_csv(adult_train, header=None)
df_test = pd.read_csv(adult_test, header=None, skiprows=1) # skip the first row

In [37]:
df_train = df_train.replace(' ?', np.nan)
df_test = df_test.replace(' ?', np.nan)

In [38]:
for col in df_train.columns:
    if df_train[col].dtype == 'object':
        df_train[col] = df_train[col].fillna(df_train[col].mode()[0])
    else:
        df_train[col] = df_train[col].fillna(df_train[col].mean())

for col in df_test.columns:
    if df_test[col].dtype == 'object':
        df_test[col] = df_test[col].fillna(df_test[col].mode()[0])
    else:
        df_test[col] = df_test[col].fillna(df_test[col].mean())

df_train[14] = df_train[14].apply(lambda x: 1 if x == ' >50K' else 0)
df_test[14] = df_test[14].apply(lambda x: 1 if x == ' >50K.' else 0)

In [39]:
# df_train
df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,103497,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,0
16277,64,Private,321403,HS-grad,9,Widowed,Prof-specialty,Other-relative,Black,Male,0,0,40,United-States,0
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,0
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,0
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,1

In [40]:
 # split X and y
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
X_train = df_train.iloc[:, :-1]
y_train = df_train.iloc[:, -1]
X_test = df_test.iloc[:, :-1]
y_test = df_test.iloc[:, -1]


for col in X_train.columns:
    if X_train[col].dtype == 'object' and len(X_train[col].unique()) == 2:
        le = LabelEncoder()
        X_train[col] = le.fit_transform(X_train[col])
    
    elif X_train[col].dtype == 'object':
        X_train = pd.get_dummies(X_train, columns=[col], drop_first=True)

for col in X_test.columns:
    if X_test[col].dtype == 'object' and len(X_test[col].unique()) == 2:
        le = LabelEncoder()
        X_test[col] = le.fit_transform(X_test[col])
    
    elif X_test[col].dtype == 'object':
        X_test = pd.get_dummies(X_test, columns=[col], drop_first=True)

# Align columns of X_train and X_test to ensure they have the same columns after encoding
for col in X_train.columns.values:
    
    scalar = StandardScaler()
    X_train[col] = scalar.fit_transform(X_train[col].values.reshape(-1, 1))
    X_test[col] = scalar.transform(X_test[col].values.reshape(-1, 1))

print(X_train.shape)
print(X_test.shape)

KeyError: '13_ Holand-Netherlands'