In [11]:
import pandas as pd
import numpy as np


adult_train = 'adult/adult.data'
adult_test = 'adult/adult.test'

df_train = pd.read_csv(adult_train, header=None)
df_test = pd.read_csv(adult_test, header=None, skiprows=1) # skip the first row

In [12]:
df_train = df_train.replace(' ?', np.nan)
df_test = df_test.replace(' ?', np.nan)

In [13]:
for col in df_train.columns:
    if df_train[col].dtype == 'object':
        df_train[col] = df_train[col].fillna(df_train[col].mode()[0])
    else:
        df_train[col] = df_train[col].fillna(df_train[col].mean())

for col in df_test.columns:
    if df_test[col].dtype == 'object':
        df_test[col] = df_test[col].fillna(df_test[col].mode()[0])
    else:
        df_test[col] = df_test[col].fillna(df_test[col].mean())

df_train[14] = df_train[14].apply(lambda x: 1 if x == ' >50K' else 0)
df_test[14] = df_test[14].apply(lambda x: 1 if x == ' >50K.' else 0)

In [14]:
df_train
# df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [17]:
 # split X and y
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
X_train = df_train.iloc[:, :-1]
y_train = df_train.iloc[:, -1]
X_test = df_test.iloc[:, :-1]
y_test = df_test.iloc[:, -1]


for col in X_train.columns:
    if X_train[col].dtype == 'object' and len(X_train[col].unique()) == 2:
        le = LabelEncoder()
        X_train[col] = le.fit_transform(X_train[col])
    
    elif X_train[col].dtype == 'object':
        X_train = pd.get_dummies(X_train, columns=[col], drop_first=True)

for col in X_test.columns:
    if X_test[col].dtype == 'object' and len(X_test[col].unique()) == 2:
        le = LabelEncoder()
        X_test[col] = le.fit_transform(X_test[col])
    
    elif X_test[col].dtype == 'object':
        X_test = pd.get_dummies(X_test, columns=[col], drop_first=True)


#add missing columns to test set
missing_cols = set(X_train.columns) - set(X_test.columns)
for col in missing_cols:
    X_test[col] = 0
X_test = X_test[X_train.columns]

# Align columns of X_train and X_test to ensure they have the same columns after encoding
for col in X_train.columns.values:
    scalar = StandardScaler()
    X_train[col] = scalar.fit_transform(X_train[col].values.reshape(-1, 1))
    X_test[col] = scalar.transform(X_test[col].values.reshape(-1, 1))

print(X_train.shape)
print(X_test.shape)

(32561, 97)
(16281, 97)
(32561,)
0        0
1        0
2        1
3        1
4        0
        ..
16276    0
16277    0
16278    0
16279    0
16280    1
Name: 14, Length: 16281, dtype: int64